@import '../../../../variables.scss';
@import '../../../../mixins.scss';
@import '../../../../reset.scss';

.contacts-header {
    @include flex-c-c;
    padding: 24px 0;
    &__text {
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;        
        letter-spacing: 1px;        
        color: $colorBlackHeader;
        text-transform: uppercase;
    }
    &:after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 1872px;        
        border-top: 3px solid $colorGrey;
    }
}