@import '../../../../variables.scss';
@import '../../../../mixins.scss';
@import '../../../../reset.scss';

.contacts-header {
    @include flex-c-c;
    padding: 1.5rem 0;
    &__text {
        @include font-big;      
        color: $colorBlackHeader;
        text-transform: uppercase;
    }
    &:after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 0;
        min-width: 117rem;  
        width: 95%;      
        border-top: 3px solid $colorGrey;
        @include _1920 {
            min-width: 87.1875rem;
        }
        @include _1440 {
            min-width: 60rem;
        }
        @include _1024 {
            min-width: 40rem;
        }
        @include _768 {
            min-width: 30rem;
        }
        @include _600 {
            min-width: 10rem;
        }
    }
}