@import '../../../../variables.scss';
@import '../../../../mixins.scss';
@import '../../../../reset.scss';

.contact-card {
    @include flex-st-st;
    width: 100%;
    padding-bottom: 1.875rem;
    &__image_wrap {
        height: 4.1875rem;
        width: 4.1875rem;
        border-radius: 50%;
        overflow: hidden;
    }
    &__image {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    &__content {
        margin-left: 1.75rem;
    }
    &__header {
        @include font-middle;
        line-height: 1.5rem;      
        color: $colorBlackCard;        
        mix-blend-mode: normal;    
        padding-bottom: 0.625rem; 
    }
    &__container { 
        @include font-small;        
        color: $colorLightgrey;        
        mix-blend-mode: normal;
    }
    &__organization, &__department, &__position {
        padding-bottom: 0.3125rem;
    }
    &__phone, &__email {
        padding-top: 0.3125rem;
        @include font-small;
        color: $colorDark;
        mix-blend-mode: normal;
    }
    &__email {
        padding-top: 0px;
    }
}