@import '../../../../variables.scss';
@import '../../../../mixins.scss';
@import '../../../../reset.scss';

.contacts-container {
    @include wrapper;
    @include flex-c;
    flex-direction: column;
    background-color: $colorWhite;
    width: 100%;
}
.contacts-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 25%);
    gap: 0 60px;
    padding: 28px 93px 44px;    
}
.paginator-block {
    padding: 14px 0px 37px; 
    @include flex-c-c;
}
.paginator-block-list {
    width: 100%;
    @include flex-c-sbtw;
    &__item {
        width: 25px;
        height: 25px;
        border: 1.28px solid $colorDarkGrey;
        border-radius: 50%;
        @include flex-c-c;
        margin: 8px;
        cursor: pointer;
        &_active {
            border-color: $colorPurple;
        }
    }
    &__button {
        width: 100%;
        height: 100%;
        @include font-small; 
        font-weight: bold;        
        color: $colorDarkGrey;
        cursor: pointer;
        &_active {
            color: $colorPurple;
        }
    }
}
@media (hover) {
    .paginator-block-list__item:focus, .paginator-block-list__button:hover, .paginator-block-list__item:hover, .paginator-block-list__button:focus {
        @include hover;
    }
}